* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/bg_dragon.jpeg");
    background-size: 250%;
    background-position: 50%;
}

.container {
    box-sizing: border-box;
    width: 90%;
    min-height: 26em;
    margin: 5% auto;
    padding: 0;
    text-align: center;
    background-color: rgba(233, 233, 233, 0.705);
    border-radius: 20px;
}

.btn {
    width: 90%;
    margin-top: 25px;
    font-size: 2em;
    background-color: #ff4444;
}

.textfield {
    width: 100%;
    min-height: 5em;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2em;
}

.textfield p{
    text-align: center;
}

.textfield span {
    font-size: 1em;
    margin-top: 2em;
}

.textfield i {
    display: none;
    float: right;
    padding: 0.2em;
    border-radius: 5px;
    z-index: 3;
}

.textfield .fa-lock {
    color: #ff4444;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 40%;
    }

    body {
        background: url("../img/bg_dragon.jpeg");
        background-size: cover;
        background-position: 0 50%;
    }
}