* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ff4444;
    background-size: cover;
}

.container {
    box-sizing: border-box;
    width: 100%;
    min-height: 28em;
    margin: 5% auto;
    padding: 0;
    text-align: center;
    background-color: rgba(233, 233, 233, 0.2);
    border-radius: 5%;
}

.btn {
    width: 90%;
    margin-top: 25px;
    font-size: 2em;
    background-color: #ff4444;
}

.textfield {
    width: 90%;
    min-height: 20em;
    margin: 1em;
    text-align: center;
    background-color: rgba(206, 206, 208, 0.2);
    border-radius: 5%;
}

.textfield h2 {
    font-size: 2em;
    padding: 10px;
}

.textfield p {
    padding: 10px;
    font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 25%;
    }
}